* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.25rem;
}

.navbar-container {
    display: flex;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0077FF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}

.navbar > h3 {
    font-weight: 600;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    font-weight: 300;
}

.navbar-button {
    display: none;
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .small-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navbar-list {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.2rem;
        padding: 0.8rem;
    }

    .navbar-button {
        display: block;
        background-color: #0077FF;
        border: 0;
        height: 1.6rem;
        width: 1.6rem;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-image: url("./../images/background.jpg");
}

.about-me {
    display: flex;
    align-items: center;
    padding: 2.5rem;
    flex-direction: column;
    gap: 2.5rem;
}

.about-me .content {
    display: flex;
    justify-content: space-around; 
    gap: 2.5rem;
    width: 100%;
    max-width: 1600px;
}

.about-me .left-content {
    width: 40%;
}

.about-me h5 {
    text-align: justify;
}

.about-me p {
    font-size: medium;
    text-align: justify;
}

@media (max-width: 1000px) {
    .about-me .content .right-content {
        display: none;
    }

    .about-me .content .left-content {
        width: 90%;
    }
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
}

.education .content {
    display: flex;
    gap: 2.5rem;
    width: 100%;
    max-width: 1600px;
    justify-content: space-evenly;
}

.divider {
    margin: 1rem 0rem;
}

.education .section {
    max-width: 400px;
}

.education .section p {
    margin-top: 0.4rem;
    font-size: 1rem;
    text-align: justify;
}

@media (max-width: 1000px) {
    .education .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
    text-align: justify;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    scrollbar-width: none;
    width: 100%;
}

.slider::-webkit-scrollbar {
    display: none;
}

.project {
    background: #4caf50;
    font-size: 1.5rem;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    gap: 1rem;
    border-radius: 0.8rem;
}

.project p {
    font-size: 1rem;
    text-align: justify;
}

.project .image {
    border-radius: 0.5rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
}

.skills .content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem;
    align-items: center;
}

.contacts .content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.button {
    background-color: transparent;
    border: none;
}

.icon {
    height: 10vw;
    width: 10vw;
    max-height: 100px;
    max-width: 100px;
}

.main {
    margin-top: 3.55rem;
    height: 3000px;
}
